{% extends "frappe/templates/base.html" %}

{% block favicon %}
    <link rel="icon" href="{{ favicon }}">
    <link rel="shortcut icon" href="{{ favicon }}">
{% endblock %}

{% block head_include %}
    {% include "templates/includes/typekit.html" %}
    <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
    <style>{% include "templates/includes/custom.css" %}</style>
{% endblock %}

{% block content %}
<div class="container" data-html-block="content">
{{ content }}
</div>
{% if custom_footer is defined -%}
<div class="container">
    {{ custom_footer }}
</div>
{%- endif %}
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <ul class="list-unstyled footer-list">
                <li>
                    <a href="https://erpnext.com">ERPNext</a>
                </li>
                <li>
                    <a href="https://frappe.io">Developers</a>
                </li>
                <li>
                    <a href="https://about.frappe.io">About</a>
                </li>
                <li>
                    <a href="https://blog.frappe.io/blog">Blog</a>
                </li>
                <li>
                    <a href="https://about.frappe.io#contact">Contact</a>
                </li>
                <li>
                    <a href="https://about.frappe.io/jobs">Careers</a>
                </li>
                <li>
                    <a href="https://erpnext.com/sitemap">Sitemap</a>
                </li>
            </ul>
            <div class="copyright">
                <p>
                    &copy;<span id="year"></span> Frappé Technologies Pvt. Ltd.
                    Content licensed under
                    <a class="underline" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">
						CC-BY-SA 3.0</a>. Read the <a href="https://erpnext.com/terms" class="underline">terms of use</a>.
                </p>
            </div>
        </div>
        <div class="row" style="padding-bottom: 50px;">
        	<div class="col-sm-12 text-center">
        		<p>
        			<a href="https://conf.erpnext.com/2015" class="footer-link">
                        See you at the ERPNext Conference
                        on 9th October in Mumbai</a>
        		</p>
        	</div>
        </div>
    </footer>
    <!--Javascript-->
    <script src="/assets/frappe_theme/js/main.js"></script>
{% endblock %}
