{% extends "frappe/templates/base.html" %}

{% block favicon %}
    <link rel="icon" href="{{ favicon }}">
    <link rel="shortcut icon" href="{{ favicon }}">
{% endblock %}

{% block head_include %}
    <link href="/assets/frappe_theme/css/frappe_theme.css" rel="stylesheet">
    <style>{% include "templates/includes/custom.css" %}</style>
{% endblock %}

{% block content %}
{{ content }}
{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
			{% include "templates/includes/footer.html" %}
        </div>

		<div class="row" style="padding-bottom: 50px;">
			<div class="col-sm-12 text-center">
				<p>
				<b><a href="https://erpnext.org/conf/2017">
				Register for the ERPNext Conference 2017 on October 12-14, Mumbai
				<i class="octicon octicon-arrow-small-right hidden-xs"></i>
				</a></b>
				</p>
			</div>
		</div>
	</footer>
    <!--Javascript-->
    <script src="/assets/frappe_theme/js/main.js"></script>
{% endblock %}
