$gray-100: #fafbfc;
$gray-150: #f5f7fa;
$gray-200: #ebecf1;
$gray-300: #d1d8dd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #8d99a6;
$gray-700: #495057;
$gray-800: #36414c;
$gray-900: #2e3338;
$primary:#5e64ff;

$black: #000;

$body-color: $gray-800;
$text-muted: $gray-600;
$secondary-black: $gray-600;
$link-color: $black;
$yiq-contrasted-threshold: 180;

$border-color: $gray-200;
$card-border-color: $gray-300;
$card-cap-bg: $gray-100;

@import "frappe/public/scss/website";
@import "/assets/frappe_theme/css/inter.css";

body {
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 15px;
	overflow-x: hidden;
	font-weight: 300;
}

p {
	color: $secondary-black;
}

a:hover p{
	display: inline-block;
	text-decoration: none !important;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;

	a {
		text-decoration: none !important;
	}
}

section ul {
	line-height: 2rem;
	color: $secondary-black;
}

.page-wrapper {
	background-color: #fff;
}

.btn:hover {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .11), 0 5px 10px 0 rgba(0, 0, 0, .08);
}

.btn {
	font-weight: 300;
}

.lead {
	line-height: 1.5;
}

.text-secondary {
	color: $secondary-black;
}

.container {
	max-width: 900px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.container-md {
	max-width: 840px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.container-sm {
	max-width: 576px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar {
	.navbar-toggler {
		border: 0px;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.nav-link {
		color: $secondary-black !important;
	}
}

.mainnav {
	border-bottom: 1px solid $gray-200;

	img {
		width: 30px;
		height: 30px;
		margin-right: 0.75rem;
	}
}

.subnav {
	position: sticky;
	top: 0;
	z-index: 500;
	background-color: $white;
	border-bottom: 1px solid $gray-200;
	padding: 0.5rem 0;

	.subnav-title {
		font-weight: normal;
		font-size: 1rem;
	}

	img {
		width: 24px;
		height: 24px;
		margin-right: 0.75rem;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.navbar-item {
		padding-left: 15px;
	}
}

.logged-in .avatar {
	margin-top: -4px;
}

.navbar-brand {
	display: flex;
	align-items: center;
	font-weight: 500;
}

@media (max-width: 840px) {
	.page-content-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.img-box {
	width: 100px;
	height: 100px;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: $white;
	margin-bottom: 2rem;
}

section {
	padding: 6rem 0;

	.lead {
		color: $secondary-black;
		max-width: 100%;

		@media (min-width: 576px) {
			max-width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.top-section {
	padding: 8rem 0rem;

	.lead {
		max-width: 90%;
		margin: 0 !important;
	}
}

.hero-section {
	padding: 8rem 0;
	text-align: center;

	@media (min-width: 576px) {
		text-align: left;

		h1 {
			font-size: 2.8rem;
		}

		.lead {
			max-width: 100%;
		}
	}
}

.section-padding {
	padding: 6rem 0rem;

	.lead {
		margin-right: auto;
		margin-left: auto;
		margin-top: 0;

		@media (min-width: 576px) {
			max-width: 75%;
		}
	}
}

.flex-fixed-width-item {
	flex: 0 0 100px;
}

.flex-item-20 {
	flex: 1 0 20%;
	text-align: right !important;
}

.flex-item-30 {
	flex: 1 0 30%;
	text-align: right !important;
}

.flex-item-40 {
	flex: 1 0 40%;
	text-align: right !important;
}

.flex-item-50 {
	flex: 1 0 50%;
	text-align: right !important;
}

.splash {
	background-color: $gray-400;
	background-position: center;
	background-size: cover;
	min-height: 300px;
	transition: filter 0.3s ease-in;
}

.section-bg {
	background-color: $gray-150;
	border: 1px solid $border-color;

	code.hljs {
		background-color: $white;
	}
}

.card-with-link:hover {
	border-color: $body-color;
}

.card {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

	.card-footer {
		a.card-link {
			font-size: 0.8rem;
			text-transform: uppercase;
			font-weight: 500;
		}
	}
}

.card.no-border {
	border: none !important;
	background: transparent;

	.card-footer {
		border: none !important;
		background-color: transparent;
		color: $text-muted;
		padding: 1.25rem 0 !important;
	}

	.card-body {
		padding: 1.25rem 0 !important;
	}
}

.card-body {
	line-height: 1.7;
	color: $secondary-black;

	.card-title, h2, h3, h4, h5, h6 {
		color: $body-color;
	}
}

.w-400 {
	max-width: 400px;
	margin: auto;
}

.w-500 {
	max-width: 500px;
	margin: auto;
}

.w-600 {
	max-width: 600px;
	margin: auto;
}

.mt-6 {
	margin-top: $spacer * 4.5 !important;
}

.mt-7 {
	margin-top: $spacer * 6 !important;
}

.mb-6 {
	margin-bottom: $spacer * 4.5 !important;
}

.mb-7 {
	margin-bottom: $spacer * 6 !important;
}

.mt-large {
	margin-top: 10rem !important;
}

a.btn, a.card, a.no-decoration {
	text-decoration: none !important;
}

.page-content-wrapper {
	min-height: 500px;
	p, li {
//		font-size: 16px;
		line-height: 1.8;
	}

	a {
		text-decoration: underline;
	}

	h2, h3, h4 {
		line-height: 1.5;
	}
}

.dropdown-item {
	font-size: 13px;
}

.dropdown-item.active,
.dropdown-item:active {
	background-color: $gray-500;
}

footer {
	border-top: 1px solid $border-color;
	background-color: $gray-150;
	padding-bottom: 3rem;
}

.bg-light-yellow {
	background-color: #fffce7;
}

/*****************/


/* indicators */

$indicator-blue:		#5e64ff;
$indicator-red:			#ff5858;
$indicator-green:		#98d85b;
$indicator-orange:		#ffa00a;
$indicator-purple:		#743ee2;
$indicator-darkgrey:		#b8c2cc;
$indicator-yellow:		#feef72;
$indicator-light-blue:		#7cd6fd;

.indicator,
.indicator-right {
	background: none;
	vertical-align: middle;
}

.indicator::before,
.indicator-right::after {
	content:'';
	display:inline-block;
	height: 0.5rem;
	width: 0.5rem;
	border-radius:0.5rem;
}

.indicator::before {
	margin: 0 0.4rem 0.1rem 0px;
}

.indicator-right::after {
	margin: 0 0 0.1rem 0.4rem;
}


.indicator.grey::before,
.indicator-right.grey::after {
	background: $gray-600;
}

.indicator.light-gray::before,
.indicator-right.light-gray::after {
	background: $gray-300;
}

.indicator.gray::before,
.indicator-right.gray::after {
	background: $gray-600;
}

.indicator.blue::before,
.indicator-right.blue::after {
	background: $indicator-blue;
}
.indicator.red::before,
.indicator-right.red::after {
	background: $indicator-red;
}
.indicator.green::before,
.indicator-right.green::after {
	background: $indicator-green;
}
.indicator.orange::before,
.indicator-right.orange::after {
	background: $indicator-orange;
}
.indicator.purple::before,
.indicator-right.purple::after {
	background: $indicator-purple;
}
.indicator.darkgrey::before,
.indicator-right.darkgrey::after {
	background: $indicator-darkgrey;
}

.indicator.black::before,
.indicator-right.black::after {
	background: $body-color;
}

.indicator.yellow::before,
.indicator-right.yellow::after {
	background: $indicator-yellow;
}

.indicator.light-blue::before,
.indicator-right.light-blue::after {
	background: $indicator-light-blue;
}

.indicator.lightblue::before,
.indicator-right.lightblue::after {
	background: $indicator-light-blue;
}

.modal-header .indicator {
	float: left;
	margin-top: 7.5px;
	margin-right: 3px;
}


/* other */

.media-img {
	max-width: 150px;
}

.stars {
	width: 125px;
}

.breadcrumb {
	background-color: #fff;
}

img,
.img {
	max-width: 100%;
}

/* avatar */

.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.avatar-frame {
	display: inline-block;
	width: 100%;
	height: 0;
	padding: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 4px;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 4px;
}

.avatar-empty {
	border: 1px dashed #d1d8dd;
	border-radius: 4px;
}

.avatar-small {
	margin-right: 5px;
	width: 24px;
	height: 24px;
}

.avatar-small .standard-image {
	font-size: 14px;
}

.avatar-small .avatar-frame {
	border-radius: 3px;
}

.avatar-medium {
	margin-right: 5px;
	width: 36px;
	height: 36px;
}

.avatar-medium .standard-image {
	font-size: 18px;
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
}

.avatar-large .standard-image {
	font-size: 36px;
}

.avatar-xl {
	margin-right: 10px;
	width: 108px;
	height: 108px;
}

.avatar-xl .standard-image {
	font-size: 72px;
}

.avatar-xs {
	margin-right: 3px;
	margin-top: -2px;
	width: 17px;
	height: 17px;
	border: none;
	border-radius: 3px;
}

.avatar-xs .standard-image {
	font-size: 9px;
}

.avatar-text {
	display: inline;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.standard-image {
	width: 100%;
	height: 0;
	padding: 50% 0;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	line-height: 0;
	color: #d1d8dd;
	border: 1px solid #d1d8dd;
	font-weight: normal;
	margin-top: -1px;
}

/* comments */

.comment-header {
	border-bottom: 1px solid #ebeff2;
	padding: 30px 0 15px;
}

.comment-row {
	margin: 0 -15px;
	padding: 15px;
}

.pull-right {
	float: right;
}

.inline-block {
	display: inline-block;
}

.comment-row h6 {
	font-size: 0.75rem;
}

.hidden, .hide {
	display: none;
}

.square-img {
		position:relative;
		overflow:hidden;
		padding-bottom:100%;

		img {
			position: absolute;
			max-width: 100%;
			max-height: 100%;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.from-markdown .hljs {
	background-color: $gray-100;
	border: 1px solid $border-color;
	padding: 1.25rem 1.5rem;
	border-radius: 4px;
}

//.greyscale {
//	filter: grayscale(100);
//	transition: filter 0.3s ease-in;
//}
//
//.greyscale:hover {
//	filter: grayscale(0);
//}

.frappe-hero {
	max-width: 375px;
	width: 100%;
}

.lead-max {
	padding: 2rem 0;
	max-width: 100%;
	font-size: 1.5rem;
	font-weight: 400;
	color: $body-color;
}

/* added to make iframe responsive */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**/

.screenshot {
	border: 1px solid #d1d8dd;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

body[data-path="blog"] {
	.page-breadcrumbs {
		display: none;
	}

	h1 {
		margin: 1em 0 1em 0;
	}
}


/* documentation styles */

body[data-path*="docs"],
body[data-path*="features"],
body[data-path="docs"],
body[data-path*="help"] {
	.page-content-wrapper {
		line-height: 1.7;
		padding-bottom: 3rem;
	}

	.page-breadcrumbs .container {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar {
		border-bottom: 1px solid $border-color;
	}

	h1 {
		font-size: 2.5rem;

		&:first-child {
			margin-top: 1rem;
		}
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 1rem;
	}

	h1:first-child + p {
		margin-top: 2rem;
	}

	.breadcrumb {
		padding-left: 0px;
		margin-bottom: -1rem;
	}

	.breadcrumb-item {
		margin-top: 0.5rem;
	}

	img + em {
		display: inherit;
		text-align: center;
		margin-top: -0.5rem;
	}

	p code, li code {
		padding: 3px 5px;
		border-radius: 2px;
		color: #dd1144;
		background-color: #f8f8f8;
	}

	h1, h2, h3 {
		position: relative;
		padding-left: 1em;
		margin-left: -1em;

		&:hover::before {
			display: block;
		}

		&::before {
			content: '# ';
			position: absolute;
			display: none;
			left: 0;
			color: var(--primary);
			font-weight: normal;
			cursor: pointer;
		}
	}
}


// no sidebar for mobile
@media (max-width: 576px) {
	.sidebar-column {
		display: none;
	}

	h1 {
		font-size: 2.2em;
	}
}

// left-padding for sidebar content
@media (min-width: 577px) {
	.main-column {
		.page-content-wrapper {
			padding-left: 1rem;
		}
	}
}

// no padding for large screens
@media (min-width: 840px) {
	.sidebar-column {
		padding-left: 0px;
	}
}

.website-list {
	margin: -15px;
}

.blog-content {
	max-width: 840px;
	margin: auto;
}

#page-search_docs,
#page-list,
.from-markdown,
div[source-type="Generator"][data-doctype="Blog Post"],
div[source-type="Generator"][data-doctype="Web Form"] {
	max-width: 900px !important;
	margin: auto;
	padding: 3rem 0px;

	section {
		text-align: center;
	}

	.top-section {
		padding: 6rem 0;

		.lead {
			max-width: 75% !important;
		}
	}

	.breadcrumb {
		margin-left: -15px;
	}
	padding-bottom: 4rem !important;

	.section-padding {
		padding-bottom: 1em;
	}

	h2 {
		@extend .mt-5;
	}

	h3 {
		@extend .mt-4;
	}

	h4, h5 {
		@extend .mt-4;
	}
}

div[source-type="Generator"][data-doctype="Web Form"] {
	@extend .py-5;

	.page-header-actions-block {
		text-align: right;
	}
	.page-content-wrapper {
		@extend .card;
		@extend .p-4;
		@extend .w-600;
	}

	h1 {
		@extend h3;
	}

	.btn-default {
		@extend .btn-secondary;
	}
	.btn-primary {
		@extend .btn-primary;
	}
	.like-disabled-input {
		@extend .p-2;
		background-color: $gray-200;
		border-radius: 0.25rem;
	}
	.form-section-heading {
		font-weight: bold;
		font-size: 1.5em;
		margin-top: 1em;
	}
}

#page-search_docs {
	.page-content-wrapper {
		h1 {
//			font-size: 24px;
			margin-top: 2rem;
		}
	}
}

// bs3 -> bs4 for web form
.has-error {
	input {
		@extend .is-invalid;
	}
}

.control-value {
	min-height: 44px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.sidebar-item {
	font-size: 13px;
}

blockquote {
	padding: 1rem;
	padding-left: 2rem;
	background-color: $gray-150;
	border-top-right-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	border-left: 4px solid $gray-300;
	margin: 1.5rem 0;

	p {
		margin: 0;
	}
}

// Alerts
#alert-container {
	position: fixed;
	bottom: 0px;
	right: 20px;
	z-index: 1050;
}

#alert-container .desk-alert {
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	min-width: 200px;
	max-height: 200px;
	background-color: #fffce7;
	border: 1px solid #d1d8dd;
	overflow-y: auto;
	position: relative;
	transform: translateX(calc(100% + 20px));
	transition: transform 300ms ease;
	padding: 0px;
}

#alert-container .desk-alert .alert-message {
	padding: 10px 40px 10px 10px;
}

#alert-container .desk-alert .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: inherit;
	opacity: 1;
	font-size: inherit;
}

#alert-container .desk-alert .next-action-container {
	display: flex;
}

#alert-container .desk-alert .next-action-container .next-action {
	border: none;
	background: none;
	width: 100%;
	border-top: 1px solid #d1d8dd;
	border-right: 1px solid #d1d8dd;
	padding: 7px;
	outline: none;
	font-size: 12px;
	font-weight: bold;
	color: #6c7680;
}

#alert-container .desk-alert .next-action-container .next-action:hover {
	background-color: #fff9cd;
}

#alert-container .desk-alert .next-action-container .next-action:last-child {
	border-right: none;
}