<nav class="navbar navbar-inverse navbar-sm" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://frappe.io" style="font-size: 14px;">
			<img src="/assets/frappe_theme/images/frappe-white.png"
				style="width: 20px;"> Frappe</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="https://erpnext.com"><img
			  src="/assets/frappe_theme/images/erpnext-white-30.png"
			  style="display: inline-block; height: 12px; margin-top: -2px">
			  ERPNext</a></li>
          <li><a href="https://discuss.frappe.io">
			  <i class="icon-comments"></i> Forum</a></li>
          <li><a href="https://frappecloud.com">
			  <i class="icon-cloud"></i> FrappeCloud</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/frappe" target="_blank">
			<i class="icon-github"></i> GitHub</a></li>
        <li><a href="https://frappe.io/blog"><i class="icon-rss"></i> Blog</a></li>
      </ul>
     </div>
	</div>
</nav>
