{% macro hero(title, subtitle) %}
<section class='hero-docs'>
    <h1>{{ title }}</h1>
    {% if subtitle %}
    <p class='lead'>{{ subtitle }}</p>
    {% endif %}
</section>
{% endmacro %}

{% macro cards(items) %}
<div class='row'>
    {% for card in items %}
        <div class='col-sm-4 mt-4'>
            <a href='{{ card.link }}' class='card border h-100'>
                <div class='card-body'>
                {% if card.title %}
                <h5 class='card-title'>{{ card.title }}</h5>
                {% endif %}
                {{ card.content }}
                </div>
                {% if card.badge %}
                <div class='card-footer'>
                    <span class='badge badge-pill badge-{{ card.badge_style or "secondary" }}'>{{ card.badge }}</span>
                </div>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</div>
{% endmacro %}