<div class="frappe-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h4>ERPNext Help</h4>
				<ul class="list-unstyled">
					<li><a href="https://demo.frappecloud.com" target="_blank">
						<i class="icon-play icon-fixed-width"></i> Demo</a></li>
					<li><a href="https://erpnext.com/user-guide">
						<i class="icon-book icon-fixed-width"></i> User Manual</a></li>
					<li><a href="https://erpnext.com/user-guide/guide-books">
						<i class="icon-book icon-fixed-width"></i> Guide Books</a></li>
					<li><a href="https://erpnext.com/stories">
						<i class="icon-user icon-fixed-width"></i> Case Studies</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4>Start ERPNext</h4>
				<ul class="list-unstyled">
					<li><a href="https://frappecloud.com" target="_blank">
						<i class="icon-cloud icon-fixed-width"></i> On Frappe Cloud</a></li>
					<li><a href="https://erpnext.com/download">
						<i class="icon-download icon-fixed-width"></i> Download Virtual Image</a></li>
					<li><a href="https://github.com/frappe/bench">
						<i class="icon-cog icon-fixed-width"></i> Install Frappe Bench</a></li>
					<li><a href="https://frappe.io/buy">
						<i class="icon-tag icon-fixed-width"></i> Training / Support</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4>Company</h4>
				<ul class="list-unstyled">
					<li><a href="https://frappe.io/webnotes">
						<i class="icon-home icon-fixed-width"></i> About</a></li>
					<li><a href="https://frappe.io/blog">
						<i class="icon-comment icon-fixed-width"></i> Blog</a></li>
					<li><a href="https://frappe.io/webnotes/jobs">
						<i class="icon-coffee icon-fixed-width"></i> Jobs</a></li>
					<li><a href="https://frappe.io/terms">
						<i class="icon-legal icon-fixed-width"></i> Terms</a></li>
					<li><a href="https://frappe.io/contact">
						<i class="icon-envelope icon-fixed-width"></i> Contact</a></li>
					<li><a href="https://frappe.io/webnotes/coverage">
						<i class="icon-rss icon-fixed-width"></i> Coverage</a></li>
					<li><a href="https://frappe.io/sponsors">
						<i class="icon-star icon-fixed-width"></i> Sponsors</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h4>Community</h4>
				<ul class="list-unstyled">
					<li><a href="https://github.com/frappe/erpnext" target="_blank">
						<i class="icon-github icon-fixed-width"></i> GitHub</a></li>
					<li><a href="https://discuss.frappe.io">
						<i class="icon-group icon-fixed-width"></i> Forum</a></li>
					<li><a href="http://webchat.freenode.net/?channels=frappe">
						<i class="icon-comments icon-fixed-width"></i> IRC Chat</a></li>
					<li><a href="https://frappe.io/partners">
						<i class="icon-link icon-fixed-width"></i> Partners</a></li>
					<li><a href="https://twitter.com/erpnext">
						<i class="icon-twitter icon-fixed-width"></i> Follow on Twitter</a></li>
					<li><a href="https://frappe.io/contribute" target="_blank">
						<i class="icon-globe icon-fixed-width"></i> How To Contribute</a></li>
					<li><a href="https://frappe.io/conf">
						<i class="icon-facetime-video icon-fixed-width"></i> Conference 2014</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<p>
				    <a href="https://frappe.io" target="_blank">
						<img src="/assets/frappe/images/frappe.svg"
							style="width: 40px; height: 40px; margin-top: -10px;">
					</a>
					&copy; 2014 Web Notes Technologies
					<br><span class="text-muted small" style="margin-left: 43px;">
						Content Licensed as Creative Commons CC-BY-SA 3.0</span>
					<span class="text-muted pull-right text-right small">
						Free and Open Source Software<br>Proudly made in Mumbai, for everyone</spabrn>
				</p>
			</div>
		</div>
	</div>
</div>
